<html>
  <header>
  <style type="text/css">
  body{
  	background-image: -moz-linear-gradient(top,
		#555555,
		#111111);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0,#555555),
		color-stop(1,#111111));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#555555', EndColorStr='#111111')";
  }
  div#login_btn{
  	width:154px;
  	height:22px;
  }
  </style>
  <title>Timestack</title>
  </header>
  <body>
    <div id="login_btn"><a href="{{ LOGIN_URL }}"><img src="http://developers.facebook.com/images/devsite/login-button.png"/></a></div>

	<script>
		function setCenter(){
			var docHeight = document.documentElement.offsetHeight;
			var btnHeight = document.getElementById('login_btn').offsetHeight;
			document.getElementById('login_btn').style.margin=(docHeight-btnHeight)/2+"px auto 0 auto";
		}
		setCenter();
		window.addEventListener('resize',setCenter);
	</script>
  </body>
</html>